:root{
    --theme_color : rgb(0, 177, 201);
}


.heading{
    font-size: 35px;
    border-left: 5px solid var(--theme_color);
    padding-left: 10px;
    color: rgb(116, 116, 116);
    font-weight:900;
    
}

#main{
    display: flex;
    justify-content:space-evenly;
    margin: 0px 50px;
    
}

#left_pane{
    width: 40vw;
}

#right_pane{
    width: 40vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
